[submodule "vendor/evil"]
	path = vendor/evil
	url = git://gitorious.org/evil/evil.git
[submodule "vendor/scala-mode"]
	path = vendor/scala-mode
	url = git://github.com/haxney/scala-mode.git
[submodule "vendor/undo-tree"]
	path = vendor/undo-tree
	url = git://github.com/emacsmirror/undo-tree.git
