session.*
elpa
auto-save-list
url
vendor/
/#init.el#
bookmarks
menu_log.notes
.emacs.desktop
projectile-bookmarks.d
projectile.cache
projectile*
/flycheck_init.el
/bookmarks
ido.last
abbrev_defs
shell